
/* Default light mode styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.toggle-icon span {
  font-size: 24px;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

